.logo {
  height: 42px;
  padding-right: 15px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background: light-dark(#efedea, #2f2f2f);
}

.read-the-docs {
  color: #888;
}

/* ome spinner */

.omespinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #999;
  width: 300px;
  text-align: center;
}

svg.rotating {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.rotating {
  animation: rotation 6s infinite linear;
}
.rotating:nth-child(1) {
  animation-delay: 1s;
}
.rotating:nth-child(2) {
  animation-delay: 2s;
}
.rotating:nth-child(3) {
  animation-delay: 3s;
}
.rotating:nth-child(4) {
  animation-delay: 4s;
}
.rotating:nth-child(5) {
  animation-delay: 5s;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  17.5% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.st0 {
  fill: #df283f;
}
.st1 {
  fill: #1c4a87;
}
.st2 {
  fill: #128669;
}
.st3 {
  fill: #1d8dcd;
}
.svg_container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
}

/* FooterTable */

th {
  position: sticky;
  top: 0;
  background: light-dark(#efedea, #2f2f2f);
  z-index: 1;
}
