:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#2f2f2f, #efefec);
  background-color: light-dark(#efedea, #2f2f2f);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  color: light-dark(#2f2f2f, #efefec);
  background-color: light-dark(#efedea, #2f2f2f);
}


#root {
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: light-dark(#efedea, #2f2f2f);
  color: light-dark(#2f2f2f, #efefec);   
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  background: light-dark(#efedea, #2f2f2f);
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  background: light-dark(#efedea, #2f2f2f);
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Override pour le mode sombre */
@media (prefers-color-scheme: light) {
  :root {
    color: light-dark(#2f2f2f, #efefec);
    background-color: light-dark(#efedea, #2f2f2f);
  }
  a:hover {
    color: #9499ff;
  }
  button {
    color: light-dark(#2f2f2f, #efedea);
    background-color: light-dark(#efedea, #2f2f2f);
  }
}

/* remove OS preferences for now... */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
